body{
	margin: 0;
}
.container{width: 80%;margin: auto;}
header{
	margin-top: 50px;
}
.logo{
	
width: 20%;
	
float: left;
}
.logo a{
text-decoration: none;
}
nav{}
nav ul{
    margin: 0;
    padding: 0;
    width: 80%;
    float: right;
    text-align: right;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #BCBCBC;
}
.banner{
	margin-top: 20px;
	display: inline-block;
}
.blog{
	padding: 80px 80px;
	text-align: justify;
}
span{

color: #BCBCBC;

text-transform: uppercase;
}
.blog h1{
    color: #7f7676;
    font-size: 30px;
}
.blog p{
    color: #656565;
}
.blog a{
	text-decoration: none;
	color: #BCBCBC;
	text-transform: uppercase;
	margin-top: 30px;
	display: inline-block;
}
.content{
	padding: 10px 80px;
	    display: inline-block;
}
.content h1{
	color: #7f7676;
    font-size: 30px;
}
.content p{
	color: #656565;
	text-align: justify;
}
.content span{
	margin-top: 30px;
    display: inline-block;
}
.content1{
	width: 45%;
    float: left;
}
.content2{
	width: 46%;
	    float: right;
}
footer{
	background-color: #F0F0F0;
}
footer ul{
    list-style: none;
}
footer ul li{display: inline-block;padding: 20px 10px;}

